
@media screen and (min-device-width: 320px) and (max-device-width: 425px) {
    .info {
        background: #2B4F71;
        position: absolute;
        color: #fff;
        font-size: medium;
        right: 65px;
        bottom: 100px;
        width: 300px;
    }

    .alanyaImg {
        background-image: url("../../img/new/alanya.jpg");
        min-height: 520px;
        margin-top: 0;
        background-size: cover !important;
        background-position: 50% 50% !important;
    }

    .istanbulImg {
        background-image: url("../../img/new/istanbul.jpg");
        min-height: 520px;
        margin-top: 0;
        background-size: cover !important;
        background-position: 50% 50% !important;
    }

    .countdown-mobile {
        text-align: center;
        font-family: Adobe;
        font-size: 20px;
        padding: 10px 0;
    }


    .footer p {
        font-size: 16px;
        margin: 0;
    }
}

